<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to EbComment</title>
</head>

<body>
    g
    <h1>Welcome to EbComment!</h1>

    <h3>Eb_Comment is a platform that enable students to check information of the 
        lectures of each faculty and students are able to give feedback about their lecture anonymously.</h3>

        
<!-- 
    <a href="'{{url_for('login')}}">Login Page</a><br>
    <a href="'{{url_for('signin')}}">Sign in Page</a> -->

    <li><a href="signin.html">Sign Page</a><br></li>
    <li><a href="login.html">Login Page</a><br></li>

    <img src="template/img/mmu logo.jpg" width="400px" height="200px"/>
</body>
</html>





