/*import字体进来*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*基础网页预设*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    font-family: 'Montserrat';
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-width: 100vh;
}

.container{
   position: absolute;
   top:10%;
   left: 0;
   height: 100%;
   width: 300px;
   background-color: lightgrey;


}


.container ul{
    list-style: none;
    align-items: center;
    padding-bottom: 20px;
    margin: 5px;
    padding: 20px;
    
}

.container li{
    
    padding-top: 10px;
    
}

.container a{
    
    color: black;
    text-decoration: none;
    padding-right: 10px;
    font-weight: 400;


}

.container i{
    padding: 20px;
}

.Try{
    padding:30px;
    height:10vh;
    width:100%;
    background-color: rgb(102,102, 102);
    justify-content: space-between;
    align-items: center;
    display:flex;
    position: relative;
    
}
.Try h2{
    color: white;
    font-size: 20px;
    padding: 30px 4%;

}
.Try a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 30px 0;
    padding-left: 750px;
    padding-right: 100px;
    

}

main {
    position:absolute;
    
    width: 100%;
    background-color: black;
    
}

.FCI h2 {
    color: black;
    font-weight: bold;
    font-size: 25px;

}