<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eb-comment_admin</title>
    <!--material icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'rel='stylesheet'>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <!--Header-->
    <div class="Try"><h2>Eb-comment</h2><input type="research"><i class='bx bx-search-alt-2'></i><a href="#">KEE HUI YEE</a></div>
    <div class="container">
        <div class="sidebar">
            <ul>
                <!-- Dashboard -->
                <li ><a href="#"><i class='bx bxs-grid-alt'></i>Dashboard</a></li>
                <!-- Cyberjaya -->
                <li >
                    <a href="#"><i class='bx bxs-institution'></i>Cyberjaya</a>
                    <ul>
                        <li><a href="#" class="link_submenu">Faculty of computing and informatics (FCI)</a></li>
                        <li><a href="#" class="link_submenu">Faculty of Management (FOM)</a></li>
                        <li><a href="#" class="link_submenu">Faculty of Creative Multimedia (FCM)</a></li>
                        <li><a href="#" class="link_submenu">Faculty of Engineering (FOE)</a></li>
                        <li><a href="#" class="link_submenu">Faculty of Applied Communication (FAC)</a></li>
                        <li><a href="#" class="link_submenu">Faculty of Cinematic Art (FCA)</a></li>
                    </ul>
                </li>
                <!-- Melaka -->
                <li >
                    <a href="#"><i class='bx bxs-institution'></i>Melaka</a>
                    <ul>
                        <li><a href="#" class="link_submenu">Faculty of Information Science and Technology (FIST)</a></li>
                        <li><a href="#" class="link_submenu">Faculty of Law (FOL)</a></li>
                        <li><a href="#" class="link_submenu">Faculty of Business (FOB)</a></li>
                    </ul>
                </li>
                <!-- Sign out -->
                <li>
                    <div class="Sign out">
                        <a href="#"><i class='bx bxs-grid-alt'></i>Sign out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <main>
        <div class="FCI"><h2>FACULTY OF COMPUTING AND INFORMATICS (FCI)</h2></div>
        <div class="fcicontainer">
            <div class="fcisubcontain">
                <div class="subcontaindes">
                    <h2>54</h2>
                    <h3>Student</h3>
                </div>
                <div class="subcontainpic">
                    <i class='bx bxs-grid-alt'></i>
                </div>
            </div>
            <div class="fcisubcontain">
                <div class="subcontaindes">
                    <h2>54</h2>
                    <h3>Student</h3>
                </div>
                <div class="subcontainpic">
                    <i class='bx bxs-grid-alt'></i>
                </div>
            </div>
        </div>
        <!--add chart-->
        <div class="graphbox">
            <div class="box"></div>
            <div class="box1"></div>
        </div>
    </main>

    
        
        
    
</body>
</html>