<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <div class="Try"><h2>Eb-comment</h2><input type="research"><i class='bx bx-search-alt-2'></i><a href="#">KEE HUI YEE</a></div>
    
    <div class="sidebar">
        <ul>
            <li><a href="/"><i class='bx bxs-grid-alt'></i>Dashboard</a></li>
            <li><a href="/user"><i class='bx bxs-grid-alt'></i>User Control</a></li>
            <li><a href="#"><i class='bx bxs-grid-alt'></i>Sign out</a></li>
        </ul>
    </div>
</body>        
</html>