/*import字体进来*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*基础网页预设*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    font-family: 'Montserrat';
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-width: 100vh;

}


.Try{
    padding:30px;
    height:10vh;
    width:100%;
    background-color: rgb(102,102, 102);
    justify-content: space-between;
    align-items: center;
    display:flex;
    position: relative;
    
    
}
.Try h2{
    color: white;
    font-size: 20px;
    padding: 30px 4%;

}
.Try a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 30px 0;
    padding-left: 750px;
    padding-right: 100px;
    

}

.sidebar{
    position: absolute;
    left: 0;
    top: 75px;
    height: 1100px;
    width: 300px;
    background-color: lightgrey;
    z-index: 10;
 
}
 
 
 
.sidebar ul{
    list-style: none;
    align-items: center;
    padding-bottom: 20px;
    margin: 5px;
    padding: 20px;
     
 }
 
 .sidebar li{
    padding-top: 10px;
     
 }
 
 .sidebar a{
     
    color: black;
    text-decoration: none;
    padding-right: 10px;
    font-weight: 400;
 
 }
 
.sidebar i{
    padding: 20px;
     
}

.fcicontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 10px;
    position: relative;
    
    
}

.fciwrapper{
    position: relative;
    display: flex;
    flex-direction: row; 
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    left: 18%;
    overflow-x: none;

}

.fcisubcontain{
    display: flex;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: white;
    margin: 0 20px 40px 40px;
    padding: 10px;
    width: 200px;
    justify-content: center;

}

.subcontaindes{
    padding: 10px;
    margin-right: 5px;

}

.subcontainpic{
    align-items: center;
    display: flex;
}

.subcontaindes h2 h3{
    font-size: 20px;
}

.subcontainpic i{
    font-size: 40px;
    color: blue;
    
}

.graphbox {
    position: relative;
    width: 580px;
    left: 40%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}

.graphbox1 {
    position: relative;
    width: 1170px;
    padding: 10px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    left: 20%;
}

.line{
    position: relative;
    background-color: whitesmoke;
    padding: 10px;
    width: 1170px;
    box-shadow: 0 0px 5px black;
}

canvas{
    position: relative;
    background-color: whitesmoke;
    padding: 10px;
    width: 1000px;
    height:600px;
    box-shadow: 0 0px 5px black;
    
}

.table{
    position: relative;
    font-family: sans-serif;
    background-color: rgb(207, 211, 212);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 30px;
    overflow: hidden;
    width: 1150px;
    justify-content: center;
    left: 20%;
    margin-left: 40px;
    margin-top:40px ;

}
table tr{
    text-transform: uppercase;

}
.table table {
    margin-left: 20px;
    margin-right: auto;
}
 table,td,th{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 5px;
    text-align: center;
    
 }

 .table_header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: 20px;
 }

 .table_body{
    width: 95%;
    max-height: calc(89%-.8rem);
    background-color: rgb(242,247,247);
    margin: 20px auto;
    border-radius: 20px;
    overflow: auto;
    text-align: center;
    
 }

 thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(203,211,212);
 }

 tbody tr{
    position: sticky;
    margin: 20px;
    background-color: rgb(237,242,242);
 }

 .Edit {
    border: 2px solid;
    padding: 10px 20px;
    font-size: 15px;
    font-family: monospace;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    background-color: rgb(155,164,179);
    color: white;
    border-radius: 20px;
 }

 .Edit:hover {
    color: black;
 }

 .table i {
    font-size: 30px;
    cursor: pointer;
 }

 .table i:hover {
    color:rgb(155,164,179);
 }


/*profile page*/
 .profile {
    position:absolute;
    padding: 30px;
    font-size: 17px;
    margin-left: 300px;
 }

 .profile h3 {
    position:relative;
    left: 75px;
    top: 20px;
 }

 .subprofile {
    position: relative;
    border: 1px solid;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 1030px;
    box-shadow: black 0px 1px 4px;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 540px;
    margin-left: 75px;
    margin-top: 30px;
    
 }

 .subprofile h1 label input select{
    margin: 5px;
 }

 .susubprofile {
    border: 1px solid;
    padding-bottom: 500px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    background-color: white;
    border-radius: 10px;

 }
 
 .susubprofile h2 {
    margin-top: 70px;
    font-size: 19px;
 }

 .susubprofile img {
    transform: scale(1.8); /* 图片放大 1.2 倍 */
    margin-top: 80px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
 }

 .suprofile {
    border: 1px solid;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 20px;
    border-radius: 10px;
    padding-right: 30px;
    background-color: white;
 }

 .suprofile label{
    margin: 10px;
 }

.suprofile input {
    outline: none;
    border: none;
}

label {
    font-weight: bold;
}

.label-name {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}
 
.butt {
    display: flex;
    flex-direction:row;
    padding: 20px;
    position: absolute;
    left: 45%;
    

}

.Submit{
    border: 2px solid;
    padding: 10px 20px;
    font-size: 15px;
    font-family: monospace;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    background-color: rgb(155,164,179);
    color: white;
    border-radius: 20px;
}

.Cancel{
    border: 2px solid;
    padding: 10px 20px;
    font-size: 15px;
    font-family: monospace;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    background-color: rgb(155,164,179);
    color: white;
    border-radius: 20px;
}

.Submit:hover{
    color: black;
}

.Cancel:hover {
    color: black;
}

.profile {
    border : solid 2px;
    padding: 40px;
    position: relative;
    top: 80px;
    left: 150px;
    width: 1000px;
    margin: 0 auto;
    background-color: whitesmoke;
    box-shadow: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    

}

.label-name{
    margin-top: 40px;

}

.label-name input {
    margin-left: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid black; 
    border-right: 2px solid black;
    padding: 5px; 


}
