<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <div class="Try"><h2>Eb-comment</h2><input type="research"><i class='bx bx-search-alt-2'></i></div>
    
    <div class="sidebar">
        <ul>
            {% if session['email'] == 'admin@gmail.com' %}
            <!-- Regular User Sidebar -->
            <li><a href="/admin"><i class='bx bxs-grid-alt'></i>Dashboard</a></li>
            <li><a href="/user"><i class='bx bxs-grid-alt'></i>User Control</a></li>
            <li><a href="/admin_comment"><i class='bx bxs-grid-alt'></i>Comment Control</a></li>
            <li><a href="/uploadlecturer"><i class='bx bxs-grid-alt'></i>Upload Lecturer</a></li>
            <li><a href="/lecturerlist"><i class='bx bxs-grid-alt'></i>Lecturer List</a></li>
            <li><a href="/login"><i class='bx bxs-grid-alt'></i>Sign out</a></li>
            {% else %}
            <!-- Admin Sidebar -->
            <li><a href="/admin"><i class='bx bxs-grid-alt'></i>Dashboard</a></li>
            <li><a href="/history"><i class='bx bxs-grid-alt'></i>History Comment</a></li>
            <li><a href="/a_edit"><i class='bx bxs-grid-alt'></i>Edit Profile</a></li>
            <li><a href="/login"><i class='bx bxs-grid-alt'></i>Sign out</a></li>
            {% endif %}
        </ul>
          
    </div>
    <div class="profile">
        <h2>UPLOAD LECTURER</h2>
        <form action="/uploadlecturer" method="POST" >
            <div class="profilecontainer" style="display: flex; flex-direction: row; margin-left: 40px;">
                <div class="left" style="display: flex; flex-direction: column; flex: 1; padding-right: 20px;">
                    <div class="label-name">
                        <label for="name">NAME</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div class="label-name">
                        <label for="phone">PHONE</label>
                        <input type="text" name="phone" id="phone">
                    </div>
                    <div class="label-name">
                        <label for="campus">CAMPUS</label>
                        <input type="text" name="campus" id="campus">
                    </div>
                    <div class="label-name">
                        <label for="faculty">FACULTY</label>
                        <select name="faculty" id="faculty">
                            {% for faculty in faculties %}
                            <option value="{{ faculty[0] }}">{{ faculty[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="right" style="display: flex; flex-direction: column; flex: 1; padding-left: 20px;">
                    <div class="label-name">
                        <label for="email">EMAIL</label>
                        <input type="text" name="email" id="email">
                    </div>
                    <div class="label-name">
                        <label for="faculty_id">FACULTY ID</label>
                        <input type="text" name="faculty_id" id="faculty_id">
                    </div>
                    <div class="label-name">
                        <label for="photo">PHOTO</label>
                        <input type="file" name="photo" id="photo">
                    </div>
                    <div class="label-name">
                        <label for="bio">BIO</label>
                        <input type="text" name="bio" id="bio">
                    </div>
                </div>
            </div>
            <div class="buttoncontainer" style="display: flex; flex-direction: row; justify-content: center; margin-right: 100px; margin-top: 40px;">
                <button type="submit" class="Submit">Submit</button>
                <button type="reset" class="Cancel"><a href="/admin" style=" text-decoration: none; color: white;">Cancel</a></button>
            </div>
        </form>
    </div>
    
</body>        
</html>