<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <title>
        Lecturer Upload
    </title>
    <link href="../static/student.css" rel="stylesheet">
</head>

<body>
    <div class="keyin_background">
        <div class="keyinform">
            <div class="header_design">
                <img id="logo" src="{{ url_for('static', filename='MMU-logo.jpeg') }}" alt="MMU Logo">
                <div class="blue-bar"></div>
                <div class="red-bar"></div>
                <span id="webname">Eb_Comment</span>
            </div>
            <h1>Upload Lecturer Information</h1>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required><br>
                <label for="photo">Photo:</label>
                <input type="file" name="photo" id="photo" required><br>
                <label for="phone">Phone number:</label>
                <input type="text" name="phone" id="phone" required><br>
                <label for="email">Email address:</label>
                <input type="email" name="email" id="email" required><br>
                <label for="campus">Campus:</label>
                <select name="campus" id="campus" required onchange="updateFacultyOptions()">
                    <option value="cyberjaya">Cyberjaya</option>
                    <option value="melaka">Melaka</option>
                </select><br>
                <label for="faculty">Faculty:</label>
                <select name="faculty" id="faculty" required>
                </select><br>
                <input type="submit" value="Submit">
            </form>

            <script>
                function updateFacultyOptions() {
                    var campusSelect = document.getElementById("campus");
                    var facultySelect = document.getElementById("faculty");
                    var selectedCampus = campusSelect.options[campusSelect.selectedIndex].value;

                    facultySelect.innerHTML = '';

                    var faculties = {};
                    faculties['cyberjaya'] = ['FCI', 'FOM', 'FCA', 'FCM', 'FOE', 'FAC'];
                    faculties['melaka'] = ['FIST', 'FOB', 'FOL', 'FET'];

                    faculties[selectedCampus].forEach(function (faculty) {
                        var option = document.createElement("option");
                        option.text = faculty;
                        option.value = faculty;
                        facultySelect.add(option);
                    });
                }

                updateFacultyOptions();
            </script>
        </div>
    </div>
</body>

</html>