<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password </title>
    <link href="../static/logsign.css" rel="stylesheet">
    
</head>
<body>

    <body class="invalid-background"></body>

    <div class="box-reset">
        
            <form action="/reset_form" method="post">
            <label for="password">Password:Password:<div class="grey">(must be at least 8 characters long and contain at least 4 numbers)</div></label>
            <input type="password" name="password" id="password" required><br>

            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm_password" required><br>
            
            {% if error and error.password %}
            <p class="error-message">{{ error.password }}</p>
            {% endif %}

            <input class="submit-reset" type="submit" value="Submit">
        </form>


        {% if success %}
        <div class="success-box">
            <p>{{ success }}</p>
        </div>
    {% endif %}
    

    </div>
</body>
</html>