<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>
        Main Page
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='student.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Harlow+Solid&display=swap">
    </head>

    <body>
        <header>
            <div class = "header_container">
                <span id = "MM">MM</span>
                <span id = "U">U</span>
                <span id="header_webname">Eb_Comment</span>
            </div>
        </header>
    </body>
</html>