<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>
        Main Page
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='student.css') }}">
</head>

<body>
    <header>
        <div class="header_container">
            <div class="text-container">
                <div class="hamburger" onclick="toggleMenu()">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <span id="MM">MM</span>
                <span id="U">U</span>
            </div>
            <div class="bar-container">
                <div class="blue-bar2"></div>
                <div class="red-bar2"></div>
            </div>
            <span id="header_webname">Eb_Comment</span>
            <nav class="menu_container" id = "menuContainer">
                <a href = "#">Cyberjaya</a>
                <a href = "#">Melaka</a>
                <a href="/keyin">Upload Lecturer Information</a>
            </nav>
        </div>
    </header>

    <script>
        function toggleMenu() {
            var menuContainer = document.getElementById('menuContainer');
            menuContainer.classList.toggle('active');
        }
    </script>

</body>
</html>