<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="j7AimJNqOKLybWxLAb0W0uYpVDvnqc_iI1_yt681uvI" />
    <title>User</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <div class="Try"><h2>Eb-comment</h2><input type="research"><i class='bx bx-search-alt-2'></i></div>
    
    <div class="sidebar">
        <ul>
            {% if session['email'] == 'admin@gmail.com' %}
            <!-- Regular User Sidebar -->
            <li><a href="/admin"><i class='bx bxs-grid-alt'></i>Dashboard</a></li>
            <li><a href="/user"><i class='bx bxs-grid-alt'></i>User Control</a></li>
            <li><a href="/admin_comment"><i class='bx bxs-grid-alt'></i>Comment Control</a></li>
            <li><a href="/uploadlecturer"><i class='bx bxs-grid-alt'></i>Upload Lecturer</a></li>
            <li><a href="/lecturerlist"><i class='bx bxs-grid-alt'></i>Lecturer List</a></li>
            <li><a href="/admin/view_lecturers_temp"><i class='bx bxs-grid-alt'></i>Lecturer Info Upload by Student</a></li>
            <li><a href="/login"><i class='bx bxs-grid-alt'></i>Log out</a></li>
            {% else %}
            <!-- Admin Sidebar -->
            <li><a href="/admin"><i class='bx bxs-grid-alt'></i>Dashboard</a></li>
            <li><a href="/history"><i class='bx bxs-grid-alt'></i>History Comment</a></li>
            <li><a href="/a_edit"><i class='bx bxs-grid-alt'></i>Edit Profile</a></li>
            <li><a href="/admin/view_lecturers_temp"><i class='bx bxs-grid-alt'></i>Lecturer Info Upload by Student</a></li>
            <li><a href="/logout"><i class='bx bxs-grid-alt'></i>Log out</a></li>
            {% endif %}
        </ul>

    </div>

    <div class="table">
        <div class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Student Name</th>
                        <th>comment</th>
                        <th>Faculty</th>
                        <th>lecture</th>
                        <th>day</th>
                        <th>time</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <form action="/delete_comment" method="post">
                    <tbody>
                        {% for comment in comment %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ comment[1] }}</td>
                            <td>{{ comment[4] }}</td>
                            <td>{{ comment[2] }}</td>
                            <td>{{ comment[1] }}</td>
                            <td>{{ comment[5] }}</td>
                            <td>{{ comment[6] }}</td>
                            <td> 
                                <input type="hidden" name="id" value="{{ comment['id'] }}">
                                <button type="submit"><i class='bx bx-user-minus'></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </form>                
            </table>
        </div>
    </div>
</div>
</body>        
</html>