<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="j7AimJNqOKLybWxLAb0W0uYpVDvnqc_iI1_yt681uvI" />
    <link href="../static/student.css" rel="stylesheet">
    <title>Error</title>
</head>

<body>
    <div class="error-container">
        <h1>Error</h1>
        <p>{{ message }}</p>
        <!-- Display the error message passed from Flask -->
    </div>
</body>

</html>
