<!DOCTYPE html>
<html lang="en" id="wy">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <meta name="google-site-verification" content="j7AimJNqOKLybWxLAb0W0uYpVDvnqc_iI1_yt681uvI" />

    <title>Login</title>
    <link href="../static/student.css" rel="stylesheet">

</head>

<body>

    <div class="bar-text-wel"> Eb_Comment </div>
    <div class="bar-text-back"><a href="{{ url_for('home') }}">Back</a> </div>
    <div class="rectangle-bar"></div>

    <body class="logsign-background"></body>



    <div class="box-wy">

        <div class="eb-log">
            <h1>Welcome Back!</h1>
        </div>

        <h2>Log in</h2>

        <form action="/process_login" method="post" enctype="multipart/form-data">
            <label for="email">Email Address:</label>
            <input type="email" name="email" id="email" required><br>
            
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required><br>
            
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="error-message">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            
            <div class="forgot-pass"><a href="{{ url_for('forgot') }}">Forgot password?</a></div>
            <input class="submit-acc" type="submit" value="Submit">
        </form>

    </div>



</body>


</html>

