<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="j7AimJNqOKLybWxLAb0W0uYpVDvnqc_iI1_yt681uvI" />
    <title>Main Page</title>
    <link href="../static/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header_container">
            <div class="left_section">
                <div class="text_container">
                    <span id="MM">MM</span>
                    <span id="U">U</span>
                </div>

                <div class="bar_container">
                    <div class="blue-bar2"></div>
                    <div class="red-bar2"></div>
                </div>

                <span id="header_webname">Eb_Comment</span>
            </div>

            <div class="profile_dropdown">
                <div class="profile_avatar" onclick="toggleDropdown()">
                    {% if current_user.profile_picture != 'default_profile_photo.jpg' %}
                    <img src="{{ url_for('static', filename='uploads/' + current_user.profile_picture) }}"
                        alt="User Profile Picture" class="rounded-circle">
                    {% else %}
                    <img src="{{ url_for('static', filename='default_profile_photo.jpg') }}" alt="Default Profile Pic"
                        class="rounded-circle">
                    {% endif %}
                </div>
                <div class="dropdown_menu" id="dropdownMenu">
                    <a href="/profile">Profile</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </header>

    <script>
        function toggleDropdown() {
            document.getElementById('dropdownMenu').classList.toggle('show');
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.profile_avatar img')) {
                var dropdowns = document.getElementsByClassName("dropdown_menu");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <div class="frontpage_background">
        <div class="cyberjaya_background">
            <a href="/main" class="cyberjaya_box">CYBERJAYA</a>
        </div>
        <div class="melaka_background">
            <a href="/main" class="melaka_box">MELAKA</a>
        </div>
    </div>

</body>

</html>
