<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <div class="Try"><h2>Eb-comment</h2><input type="research"><i class='bx bx-search-alt-2'></i><a href="#">KEE HUI YEE</a></div>
    
    <div class="sidebar">
        <ul>
            <li><a href="/"><i class='bx bxs-grid-alt'></i>Dashboard</a></li>
            <li><a href="/user"><i class='bx bxs-grid-alt'></i>User Control</a></li>
            <li><a href="/comment"><i class='bx bxs-grid-alt'></i>Comment Control</a></li>
            <li><a href="#"><i class='bx bxs-grid-alt'></i>Sign out</a></li>
        </ul>
    </div>
    <div class="profile">
        <h3>Profile</h3>
        <div class="subprofile">
            <div class="susubprofile"><img src="https://scontent.fkul4-2.fna.fbcdn.net/v/t39.30808-1/436449833_7379349335463790_1784858083920378799_n.jpg?stp=dst-jpg_p200x200&_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=SiXHeVaoiIQQ7kNvgERjKO9&_nc_ht=scontent.fkul4-2.fna&oh=00_AfBP-gcuYYGb5YIeSJ_jElejh3N4WZHKnB-el9dWDyGZ-Q&oe=663E5B2C" style="border-radius: 100px;" width="100px" height="100px"><h2>KIM HONG ZHANG</h2></div>
            <div class="suprofile">
                <div class="label-name"><label>FIRST NAME:</label><input type="text"></div>
                <div class="label-name"><label>LAST NAME:</label><input type="text"></div>
                <div class="label-name"><label>EMAIL:</label><input type="text"></div>
                <div class="label-name"><label>PHONE:</label><input type="text"></div>
                <label for="role">ROLE:</label>
                <select name="role" class="role">
                    <option value="STUDENT">STUDENT</option>
                    <option value="LECTURE">LECTURE</option>
                </select>
                <label for="faculty">FACULTY:</label>
                <select name="faculty" class="faculty">
                    <option value="FCI">FCI</option>
                    <option value="FOM">FOM</option>
                    <option value="FCM">FCM</option>
                </select>
                <label>BIO</label><input type="text">
            </div>
        </div>
        <div class="butt">
            <button class="Submit">Submit</button>
            <button class="Cancel">Cancel</button>
        </div>
</div>
</body>        
</html>